
<h2>Create a new celebrity</h2>
  <div>
    <form action="/celebrities/new" method="POST">
      <ul>
        <li>
          <label for="name">Name:</label>
          <input type="text" name="name" />
        </li>
        <li>
          <label for="occupation">Occupation:</label>
          <input type="text" name="occupation"/>
        </li>
        <li>
          <label for="catchPhrase"> Catch Phrase:</label>
          <input type="text" name="catchPhrase" />
        </li>
       
        <li>
          <button type="submit">Create!</button>
        </li>
      </ul>
    </form>
  </div>